# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

[('1969 Harley Davidson Ultimate Chopper', '9977.85')]

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [4]:
#Your code here
cur.execute('''SELECT firstNAME, lastNAME FROM employees JOIN offices USING(officecode) WHERE city = "Boston"''').fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?

In [10]:
#Your code here
cur.execute('''SELECT city, COUNT(*) from offices JOIN employees USING(officecode) GROUP BY 1''').fetchall()

[('Boston', 2),
 ('London', 2),
 ('NYC', 2),
 ('Paris', 5),
 ('San Francisco', 6),
 ('Sydney', 4),
 ('Tokyo', 2)]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [25]:
# Products sold by Boston employees
cur.execute('''SELECT productName from products 
JOIN orderDetails USING(productCode) 
JOIN orders USING(orderNumber)
JOIN customers USING(customerNumber) 
JOIN employees on customers.salesRepEmployeeNumber = employees.employeeNumber 
JOIN offices USING(officeCode) 
WHERE offices.city = "Tokyo"''').fetchall()

[('2001 Ferrari Enzo',),
 ('1969 Corvair Monza',),
 ('1969 Ford Falcon',),
 ('1903 Ford Model A',),
 ('Collectable Wooden Train',),
 ('1970 Triumph Spitfire',),
 ('1904 Buick Runabout',),
 ('18th century schooner',),
 ('1962 City of Detroit Streetcar',),
 ('The Mayflower',),
 ('The Queen Mary',),
 ('Pont Yacht',),
 ('1952 Alpine Renault 1300',),
 ('1962 LanciaA Delta 16V',),
 ('1958 Setra Bus',),
 ('1940 Ford Pickup Truck',),
 ('1913 Ford Model T Speedster',),
 ('1934 Ford V8 Coupe',),
 ('18th Century Vintage Horse Carriage',),
 ('1940s Ford truck',),
 ('1939 Cadillac Limousine',),
 ('1996 Peterbilt 379 Stake Bed with Outrigger',),
 ('1982 Camaro Z28',),
 ('2001 Ferrari Enzo',),
 ('1969 Corvair Monza',),
 ('1969 Ford Falcon',),
 ('1957 Chevy Pickup',),
 ('1998 Chrysler Plymouth Prowler',),
 ('1964 Mercedes Tour Bus',),
 ('1926 Ford Fire Engine',),
 ('1992 Ferrari 360 Spider red',),
 ('Collectable Wooden Train',),
 ('1970 Triumph Spitfire',),
 ('1970 Dodge Coronet',),
 ('1962 Volkswagen Microbus',),
 ('1958 Chevy Corvette Limited Edition',),
 ('1992 Porsche Cayenne Turbo Silver',),
 ('1954 Greyhound Scenicruiser',),
 ("1950's Chicago Surface Lines Streetcar",),
 ('Diamond T620 Semi-Skirted Tanker',),
 ('1962 City of Detroit Streetcar',),
 ('1969 Dodge Charger',),
 ('1997 BMW F650 ST',),
 ('1996 Moto Guzzi 1100i',),
 ('2003 Harley-Davidson Eagle Drag Bike',),
 ('1980s Black Hawk Helicopter',),
 ('P-51-D Mustang',),
 ('1936 Harley Davidson El Knucklehead',),
 ('1928 British Royal Navy Airplane',),
 ('1960 BSA Gold Star DBD34',),
 ('Corsair F4U ( Bird Cage)',),
 ('1900s Vintage Tri-Plane',),
 ('1997 BMW F650 ST',),
 ('1928 Ford Phaeton Deluxe',),
 ('1930 Buick Marquette Phaeton',),
 ('American Airlines: B767-300',),
 ('America West Airlines B757-200',),
 ('ATA: B757-300',),
 ('F/A 18 Hornet 1/72',),
 ('American Airlines: MD-11S',),
 ('1993 Mazda RX-7',),
 ('1995 Honda Civic',),
 ('1948 Porsche Type 356 Roadster',),
 ('P-51-D Mustang',),
 ('1928 British Royal Navy Airplane',),
 ('Corsair F4U ( Bird Cage)',),
 ('1900s Vintage Tri-Plane',),
 ('1928 Ford Phaeton Deluxe',),
 ('1930 Buick Marquette Phaeton',),
 ('American Airlines: B767-300',),
 ('America West Airlines B757-200',),
 ('F/A 18 Hornet 1/72',),
 ('American Airlines: MD-11S',),
 ('P-51-D Mustang',),
 ('1928 British Royal Navy Airplane',),
 ('1900s Vintage Tri-Plane',),
 ('1997 BMW F650 ST',),
 ('1928 Ford Phaeton Deluxe',),
 ('ATA: B757-300',),
 ('1968 Ford Mustang',),
 ('1968 Dodge Charger',),
 ('1970 Plymouth Hemi Cuda',),
 ('1969 Dodge Charger',),
 ('1948 Porsche 356-A Roadster',),
 ('1969 Dodge Super Bee',),
 ('1976 Ford Gran Torino',),
 ('1957 Vespa GS150',),
 ('1957 Corvette Convertible',),
 ('1982 Ducati 900 Monster',),
 ('1971 Alpine Renault 1600s',),
 ('1956 Porsche 356A Coupe',),
 ('1961 Chevrolet Impala',),
 ('1982 Ducati 996 R',),
 ('1974 Ducati 350 Mk3 Desmo',),
 ('2002 Yamaha YZR M1',),
 ('1980s Black Hawk Helicopter',),
 ('1900s Vintage Bi-Plane',),
 ('1937 Horch 930V Limousine',),
 ('Corsair F4U ( Bird Cage)',),
 ('America West Airlines B757-200',),
 ('American Airlines: MD-11S',),
 ('1976 Ford Gran Torino',),
 ('1957 Vespa GS150',),
 ('1957 Corvette Convertible',),
 ('1982 Ducati 900 Monster',),
 ('1952 Alpine Renault 1300',),
 ('1958 Setra Bus',),
 ('1940 Ford Pickup Truck',),
 ('1939 Cadillac Limousine',),
 ('1996 Peterbilt 379 Stake Bed with Outrigger',),
 ('1982 Camaro Z28',),
 ('1996 Moto Guzzi 1100i',),
 ('2003 Harley-Davidson Eagle Drag Bike',),
 ('P-51-D Mustang',),
 ('1936 Harley Davidson El Knucklehead',),
 ('1997 BMW R 1100 S',),
 ('1928 British Royal Navy Airplane',),
 ('1900s Vintage Bi-Plane',),
 ('1912 Ford Model T Delivery Wagon',),
 ('1937 Horch 930V Limousine',),
 ('1940 Ford Delivery Sedan',),
 ('Corsair F4U ( Bird Cage)',),
 ('The Schooner Bluenose',),
 ('HMS Bounty',),
 ('The USS Constitution Ship',),
 ('American Airlines: MD-11S',),
 ('Boeing X-32A JSF',),
 ('1969 Corvair Monza',),
 ('1969 Ford Falcon',),
 ('1903 Ford Model A',),
 ('Collectable Wooden Train',),
 ('1970 Triumph Spitfire',),
 ('1904 Buick Runabout',),
 ('18th century schooner',),
 ('1962 City of Detroit Streetcar',),
 ('The Mayflower',),
 ('1936 Mercedes Benz 500k Roadster',)]

In [24]:
# The dates of all orders placed by Tokyo employees
cur.execute('''SELECT orderDate from orders 
JOIN customers USING(customerNumber) 
JOIN employees on customers.salesRepEmployeeNumber = employees.employeeNumber 
JOIN offices USING(officeCode) 
WHERE offices.city = "Tokyo"''').fetchall()

[('2003-04-16',),
 ('2003-09-19',),
 ('2003-10-22',),
 ('2004-08-04',),
 ('2005-03-02',),
 ('2004-01-12',),
 ('2004-04-13',),
 ('2003-11-15',),
 ('2003-12-01',),
 ('2003-03-03',),
 ('2003-11-27',),
 ('2004-11-16',),
 ('2004-06-15',),
 ('2004-11-23',),
 ('2005-01-26',),
 ('2005-04-22',)]

In [ ]:
# Most money paid for a product and that product's name
cur.execute('''SELECT productName, payments.amount FROM products
JOIN orderdetails USING(productCode)
JOIN orders USING(orderNumber)
JOIN customers USING(customerNumber)
JOIN payments USING(customerNumber)
ORDER BY amount
DESC
LIMIT 1''').fetchall()

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!